<!DOCTYPE html>
<html ng-app="chemin_audit">

<head>
	<script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<!-- 	<link rel="stylesheet" type="text/css" href="style/style.css"> -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
	
 	<script src="js/MainController.js"></script>
 	
	<meta http-equiv="Content-Type" content="text/html"; charset="iso-8859-1">
	<title>Mes réserves</title>
</head>


<body ng-controller="MainController">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Mes Reserves</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Features</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Pricing</a>
		      </li>
		    </ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12"><input type="text" ng-model="reference"></input></div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<input type="button" value="Rechercher" ng-click="findBarcode()" class="btn btn-default"/>
			</div>
			<div class="col-lg-12" ng-show="article">	
				reponse = {{ article.code }} <br/> name = {{ article.product.product_name }}
				<br/> expiration_date = {{ article.product.expiration_date }}
			</div>
			<div class="col-lg-12" ng-show="error">	
				erreur = {{ error }}
			</div>
			<div class="col-lg-12" ng-show="article">
				<input type="button" value="enregistrer" ng-click="enregistrer()" class="btn btn-primary"/>
			</div>
			<div class="col-lg-12" ng-show="reponse2">	
				reponse2 = {{ reponse2 }}
			</div>
		</div>
	</div>
	
</body>

</html>
